.centre-stage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
}

#matrix {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 44px;
    text-align: center;
}

body {
    font-family: "Special Elite", monospace;
    color: #0f0;
    background-color: black;
}

.whole-ass-page-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    margin: 20px;
    /* border: 6px solid white; */
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.uncle-seb-archive {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.email-me-box {
    display: block;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

.to-the-archive-box {
    display: block;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

.bank-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.coast-capital-box {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.td-box {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.category-title {
    font-size: 30px;
    margin-bottom: 30px;
    flex: 1;
}

.category-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.useful-links {    
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tiny-words {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}



.printer {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.educational-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.computer-education {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.literature {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bandit {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.typing {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.speed-dial {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid #fff;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.youtube {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.chatgpt {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.proton {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.secret-codes {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.fukbox {
    display: grid;
    flex-direction: column;
    font-size: 77px;
    flex: 1;
    padding: 20px;
    margin: 20px;
    /* border: 6px solid white; */
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.git-codes {
    display: flex;
    flex: 1;
    font-size: 33px;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.github-codes {
    display: flex;
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 6px solid white;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 33px;
    background-color: black;
}